*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #cff7f1,#70e2da);
}
.quiz-container{
  height: 400px;
  width: 60%;
  margin:0 auto;
  background-color: blue;
  color:white;
  border-radius:0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 25px;
  box-shadow: 0px 10px 40px #999;
}
.quiz-option{
  padding: 2rem;
  border-top: 1px solid white;

}
